@{
    
    //添加
    var startdate = Request.QueryString["startdate"] == null ? "" : Request.QueryString["startdate"];
    var enddate = Request.QueryString["enddate"] == null ? "" : Request.QueryString["enddate"];
    var leavetext = Request.QueryString["leavetext"] == null ? "" : Request.QueryString["leavetext"];
    var state = Request.QueryString["state"] == null ? "" : Request.QueryString["state"];
    var trNode = Request.QueryString["trNode"] == null ? "" : Request.QueryString["trNode"];
    var month = DateTime.Now.Month.ToString();
    //var time = enddate - startdate;
    }
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="../js/jquery-ui-1.11.4.custom/jquery-ui.css" />
    <script src="../js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="../js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
        <script src="../js/Leave.js"></script>
        <style type="text/css">
        * { margin:0; padding:0;}
        .button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background-color:#dce9f9;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
.divLe {
        background-color:#8DEEEE;
        }
            </style>
    </head>
    <body>
        <div style="width:100%">
            <div class="divLe">
                <input id="leavebutton" type="button" value="请假申请" class="button" />
                <input id="shengpi" type="button" value="请假审批" class="button" />
                @*<input id="weishengpi" type="button" value="未审批" class="button" />
                <input id="yishengpi" type="button" value="已审批" class="button" />*@
            </div>
            <div id="qingjia">
                <p>请假开始时间：<input type="text" id="startdate" style="width: 140px;" value="@DateTime.Now.ToString("yyyy'/'MM'/'dd")"/></p>
                <p>请假结束时间：<input type="text" id="enddate" style="width: 140px;" value="@DateTime.Now.AddDays(+1).ToString("yyyy'/'MM'/'dd")"/></p>
							        <script type="text/javascript" language="javascript">
							            $(function () {
							                $("#startdate").datepicker({ timeText: '时间', hourText: '小时', minuteText: '分钟', currentText: '当前时间' ,closeText: '确定', dateFormat: 'yy/mm/dd', timeFormat: "HH:mm", minDate:new Date(), firstDay: 1, dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'], monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'] });
							            });
							            $(function () {
							                $("#enddate").datepicker({ timeText: '时间', hourText: '小时', minuteText: '分钟', currentText: '当前时间', closeText: '确定', dateFormat: 'yy/mm/dd', timeFormat: "HH:mm", minDate: new Date(), firstDay: 1, dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'], monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'] });
							            });
							        </script>
                <p>请假理由:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="leavetext" style="width:200px;height:100px" /></p>
            </div>
            <div id="divtable">
            <div >
                <table class="bordered" style="width:100%">
                    <tr>
                        <th>序号</th>
                        <th>员工姓名</th>
                        <th>部门名称</th>
                        <th>电话</th>
                        <th>请假时间</th>
                        <th>请假理由</th>
                        <th>结果</th>
                        @*<th>不批准</th>*@
                    </tr>
                    @{var sql = DBHelper.execReader("select a.LeaveNumber,a.State, a.EmNumber,a.StartDate,b.Telephone,a.EndDate,a.LeaveText,b.EmName,c.DeName from [Leave] a,[Employee] b,[Department] c where a.EmNumber=b.EmNumber and c.DeNumber=b.DeNumber");
                        while(sql.Read())
                      {
                    <tr>
                        <td>@sql["LeaveNumber"]</td>
                        <td>@sql["EmName"]</td>
                        <td>@sql["DeName"]</td>
                        <td>@sql["Telephone"]</td>
                        <td>@sql["StartDate"]~@sql["EndDate"]</td>
                        <td>@sql["LeaveText"]</td>
                        <td>@sql["State"]</td>
                        <th class="td" style="cursor:pointer;">同意</th>
                        <th class="th" style="cursor:pointer;">取消</th>
                    </tr>
                    }
                    }
                </table>
            </div>
            <div class="divLe" style="width:100%;height:40px;text-align:center;">
                <input type="button" id="btn1" style="width:70px;height:30px;" value="首页" />&nbsp&nbsp
                <input type="button" id="btn2" style="width:70px;height:30px;" value="上一页"/>&nbsp&nbsp
                <input type="button" id="btn3" style="width:70px;height:30px;" value="下一页" />&nbsp&nbsp
                <input type="button" id="btn4" style="width:70px;height:30px;" value="尾页" />
            </div>
        </div>
            </div>
    </body>
</html>
