
@{
    //var number = Request.QueryString["number"] == null ? "" : Request.QueryString["number"];
    
    var sqlNumber = DBHelper.execScalar("select count(*) from [Employee] a,[Department] b where a.DeNumber=b.DeNumber ");
    var sqlDe = DBHelper.execReader("select DeName from [Department]");
    var employee = Request.QueryString["employee"] == null ? "" : Request.QueryString["employee"];
    var name = Request.QueryString["name"] == null ? "" : Request.QueryString["name"];
    var select = Request.QueryString["select"] == null ? "" : Request.QueryString["select"];
    var telephone = Request.QueryString["telephone"] == null ? "" : Request.QueryString["telephone"];
    var sex = Request.QueryString["sex"] == null ? "" : Request.QueryString["sex"];
    var adress = Request.QueryString["adress"] == null ? "" : Request.QueryString["adress"];
    var wage = Request.QueryString["wage"] == null ? "" : Request.QueryString["wage"];
    var trNode = Request.QueryString["trNode"] == null ? "" : Request.QueryString["trNode"];
    var empty = Request.QueryString["empty"] == null ? "" : Request.QueryString["empty"];
    var wagecard = Request.QueryString["wagecard"] == null ? "" : Request.QueryString["wagecard"];
    var isshow = Request.QueryString["isshow"] == null ? "" : Request.QueryString["isshow"];
    }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="../js/jquery-ui-1.11.4.custom/jquery-ui.css" />
    <script src="../js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="../js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="../js/Employee.js"></script>
    @*<script type="text/javascript">
        var data = "EMp.cshtml";
        var employee = "@employee";
        var name = "@name";
        var select = "@select";
        var telephone = "@telephone";
        var sex = "@sex";
        var adress = "@adress";
        var wage = "@wage";
        var trNode = "@trNode";
        var empty = "@empty";
        var wagecard = "@wagecard";
        var isshow = "@isshow";
        $(document).ready(function () {
            if (isshow == 1) {
                $.ajax({
                    type: 'post',
                    url: data,
                    //dataType: 'html',
                    cache: false,
                    data: {
                        employee: employee,
                        name: name,
                        select: select,
                        telephone: telephone,
                        sex: sex,
                        adress: adress,
                        empty: empty,
                    },
                    success: function (data) {
                        var result = $("EMp.cshtml").find("divtable1");
                        $("#divtable").html(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest);
                        alert(textStatus);
                        alert(errorThrown);
                    }
                });
            }
        })
    </script>*@
    <style type="text/css">
        * { margin:0; padding:0;}
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background-color:#dce9f9;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.popupcontent{
position: absolute;
/*visibility:hidden;
overflow: hidden;*/
border:1px solid #CCC;
background-color:#dce9f9;
border:1px solid #333;
padding:5px;
}
.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}
        .divEM {
        background-color:#8DEEEE;
        }
    </style>
    </head>
    <body>
        <div id="div" class="div1">
            <div class="divEM">
                <input id="add" type="button" value="增加" class="button"  />
                <input id="xiugai" type="button" value="修改" class="button"  />
                <input id="delete" type="button" value="取消" class="button" />
                </div>
            <div id="popupcontent" class="popupcontent">
                <p>编号：<input id="employee" type="text"/></p>
                <p>姓名：<input id="name" type="text" /></p>
                <p>请选择部门：<select id="select">@while (sqlDe.Read()) { <option>@sqlDe["DeName"]</option>}</select></p>
                <p>电话:<input id ="telephone" type="text" /></p>
                <p>性别:<select id="sex"><option>男</option><option>女</option></select></p>
                <p>家庭住址:<input id ="adress" type="text" /></p>
                <p>基本工资：<input id="wage" type="text" /></p>
                <p>工资卡号：<input id="wagecard" type="text" /> </p>
            </div>
            <div id="divtable">
            <div >
                <table id="table" class="bordered" style="width:100%">
                    <tr>
                        <th>员工编号</th>
                        <th>员工姓名</th>
                        <th>部门名称</th>
                        <th>电话</th>
                        <th>性别</th>
                        <th>家庭住址</th>
                    </tr>
                    @{var sql = DBHelper.execReader("select a.EmNumber,a.EmName,b.DeName,a.Telephone,a.Sex,a.Adress from [Employee] a,[Department] b where a.DeNumber=b.DeNumber ");
                        while(sql.Read())
                      {
                    <tr>
                        <td>@sql["EmNumber"]</td>
                        <td>@sql["EmName"]</td>
                        <td>@sql["DeName"]</td>
                        <td>@sql["Telephone"]</td>
                        <td>@sql["Sex"]</td>
                        <td>@sql["Adress"]</td>
                        <th class="td" style="cursor:pointer;">修改</th>
                        <th class="th" style="cursor:pointer;">删除</th>
                    </tr>
                    }
                    }
                </table>
            </div>
            <div class="divEM" style="width:100%;height:40px;text-align:center;">
                <input type="button" id="btn1" style="width:70px;height:30px;" value="首页" />&nbsp&nbsp
                <input type="button" id="btn2" style="width:70px;height:30px;" value="上一页"/>&nbsp&nbsp
                <input type="button" id="btn3" style="width:70px;height:30px;" value="下一页" />&nbsp&nbsp
                <input type="button" id="btn4" style="width:70px;height:30px;" value="尾页" />
            </div>
                </div>
        </div>
    </body>
    </html>