@{
    var startdate = Request.Params["startdate"];
    var enddate = Request.Params["enddate"];
    var leavetext = Request.Params["leavetext"];
    var state = Request.Params["state"];
    var trNode = Request.Params["trNode"];
    var month = DateTime.Now.Month.ToString();
    //var time = enddate - startdate;
    if ( state=="0")
    {
        var sqladd = DBHelper.execSql("insert into [Leave] (EmNumber,State,StartDate,EndDate,LeaveText,Month) values('" + AdNumber.adnumber + "','未通过','" + startdate + "','" + enddate + "','" + leavetext + "','" + month + "')");
    }
    else if (state == "1")
    {
        var sqltong = DBHelper.execSql("UPDATE [Leave] SET State = '通过' WHERE LeaveNumber = '" + trNode + "'");
    }
    else if (state == "2")
    {
        var sqltong1 = DBHelper.execSql("UPDATE [Leave] SET State = '不予通过' WHERE LeaveNumber = '" + trNode + "'");
    }
}
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="../js/jquery-ui-1.11.4.custom/jquery-ui.css" />
    <script src="../js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="../js/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
        <script src="../js/Leave.js"></script>
<div id="divtable1">
<div id="table1">
    <table class="bordered" style="width:100%">
                    <tr>
                        <th>序号</th>
                        <th>员工姓名</th>
                        <th>部门名称</th>
                        <th>电话</th>
                        <th>请假时间</th>
                        <th>请假理由</th>
                        <th>结果</th>
                        @*<th>不批准</th>*@
                    </tr>
                    @{var sql = DBHelper.execReader("select a.LeaveNumber,a.State, a.EmNumber,a.StartDate,b.Telephone,a.EndDate,a.LeaveText,b.EmName,c.DeName from [Leave] a,[Employee] b,[Department] c where a.EmNumber=b.EmNumber and c.DeNumber=b.DeNumber");
                        while(sql.Read())
                      {
                    <tr>
                        <td>@sql["LeaveNumber"]</td>
                        <td>@sql["EmName"]</td>
                        <td>@sql["DeName"]</td>
                        <td>@sql["Telephone"]</td>
                        <td>@sql["StartDate"]~@sql["EndDate"]</td>
                        <td>@sql["LeaveText"]</td>
                        <td>@sql["State"]</td>
                        <th class="td" style="cursor:pointer;">同意</th>
                        <th class="th" style="cursor:pointer;">取消</th>
                    </tr>
                    }
                    }
                </table>
</div>
<div class="divLe" style="width:100%;height:40px;text-align:center;">
                <input type="button" id="btn1" style="width:70px;height:30px;" value="首页" />&nbsp&nbsp
                <input type="button" id="btn2" style="width:70px;height:30px;" value="上一页"/>&nbsp&nbsp
                <input type="button" id="btn3" style="width:70px;height:30px;" value="下一页" />&nbsp&nbsp
                <input type="button" id="btn4" style="width:70px;height:30px;" value="尾页" />
            </div>
    </div>